header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6%;
  padding-right: 6%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 68px;
}

.logo {
  flex: 1;
  font-family: 'Protest Revolution', sans-serif;
  font-size: 28px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logoPart {
  color: rgb(167, 199, 231);
  font-size: 30px;
  font-family: 'Protest Revolution', sans-serif;
}

.headerOptions {
  display: flex;
  z-index: 10;
  flex: 1;
  display: flex;
  justify-content: end;
  list-style: none;
  column-gap: 50px;
  font-weight: 500;
  color: white;
  /* transition: all 2s; */
}

.headerOptions li:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: rgb(167, 199, 231);
  text-decoration-thickness: 3px;
  cursor: pointer;
  color: rgb(167, 199, 231);
  /* transition: all 0.2s; */
}

.hamburger {
  z-index: 11;
}

.hamburger img {
  width: 40px;
  display: none;
 
}

@media (max-width: 760px) {
  
  .headerOptions {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 110px;
    bottom: 0px;
    list-style: none;
    row-gap: 50px;
    font-weight: 500;
    color: white;
    justify-content: start;
    padding-top: 70px;
    transition: all 0.15s;
    background-color: rgb(167, 199, 231);
    opacity: 0.9;
    z-index: 10;
    transform: translateX(150px) ;
  }
  
  .hamburger img {
    width: 40px;
    display: flex;
    z-index: 11;
  }

  .logo {
    font-family: 'Protest Revolution', sans-serif;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .logoPart {
    color: rgb(167, 199, 231);
    font-size: 22px;
    font-family: 'Protest Revolution', sans-serif;
  }
}
